<h1>Add Bookmark</h1>

<div>
  <form action='/save_link' method='post'>
    <label for='link'>
      New Link URL
      <input type='text' name='link' required='required'>
    </label>
    <label for='title'>
      New Link Title
      <input type='text' name='title' required='required'>
    </label>
    <input type="submit" value ="Save Bookmark">
  </form>
</div>
