<h1>Add Bookmark</h1>

<div>
  <form action="/added_bookmark" method="post">
    <label for="url">
      New Bookmark URL
      <input type="text" name="url" required="required">
    </label>
    <label for="title">
      New Bookmark Title
      <input type="text" name="title" required="required">
    </label>
    <input type="submit" value ="Save Bookmark">
  </form>
</div>
