<form action="/updated_link/<%= @bookmark_id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="url" placeholder="url" >
  <input type="text" name="title" placeholder="title">
  <input type="submit" value="Save">
</form>
